#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-self: flex-start;
}

table th,
table td {
  text-align: left;
}

table tfoot th {
  text-align: right;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display:grid;
  place-items: center;
  z-index: 1000;
}

form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}